@import '../common.scss'; 

.unactive {
     @include formCard;
     min-width: 250px;
     width: 25%;
}

.active {
  @include formCard;
  min-width: 250px;
  width: 25%;
  background: #FBFAF7;
  a{
    color: green;
  }
  &:hover {
       transform: scale(1.1);
       cursor: pointer;
       span {
         opacity:1;
       }
     }
     span {
       color:green;
       opacity: 0;
       transition: all 0.2s;
     }
   }

 
