@keyframes entering {
  0% {
    right: -100%;
  }

  100% {
    right: 20%;
  }
}

@mixin slider {
  cursor: pointer;
  position: fixed;
  top:5px;
  right: 20%;
  max-width: 80%;
  padding:10px;
  margin:10px 0;
  opacity: 0.7;
  border: 2px solid currentColor;
  border-radius: 5px;
  animation: entering 0.5s ease-in-out;

  &:hover{
    opacity: 1;
  }

  &::before {
  font-family:FontAwesome;
  font-style:normal;
  font-weight:400;
  display: inline-block;
  text-decoration:inherit;
  width:1em;
  margin-right:.2em;
  text-align:center;
  font-variant:normal;
  text-transform:none;
  line-height:1em;
  margin-left:.2em;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  }
}

.info {
  @include slider;
  color: #00529B;
  background-color: #BDE5F8;
  &::before {
    content:"\f05a";
  }
}

.success {
  @include slider;
  color: #4F8A10;
  background-color: #DFF2BF;
  &::before {
    content:'\f00c';
  }
}

.error {
  @include slider;
  color: #D8000C;
  background-color: #FFD2D2;
  &::before {
    content:'\f057';
  }
}
