@import '../../components/common.scss';

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .textContent {
    width: 45%;
  }

  .image {
    align-self: flex-end;
    object-fit: contain;
    max-width: 50%;
    width: 50%;
    height: auto;
  }
}

.downContent {
  @include content;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;

  & > h2, & > p {
    width: 100%;
    padding: 0 5px;
  }

  div {
    max-width: 25%;
    min-width: 200px;
    padding: 30px 10px;
  }
  
  .stepCard {
    position: relative;
    &::after{
      position: absolute;
      content: "";
      width: 50px;
      height: 30px;
      right: -30px;
      top: calc(50% - 10px);
      background: url('../../arrow.png') no-repeat;
      background-size: contain;
    }
  }
  .lastCard {
    background: url('../../circle.png') top center no-repeat;
    background-size: contain;
  }
}
