@mixin defs {
  width: auto;
  background: #FFFFFF;
  border: 1px solid #F2EFE6;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 5px 10px;
  margin: 10px 0;
  text-align: center;
  font-size: 22px;
  max-width: 400px;
  max-height: 200px;
}

.mainInput {
  @include defs;
}

.select {
  @include defs;
  font-size: 20px;
  border-radius: 15px;
}
