@mixin infoblock {
  position: absolute;
  display: block;
  top:-5px;
  padding:0 5px;
  border-radius: 10px;
  color: white;
}

.card {
  color:white;
  position: relative;
  background-color: rgb(22, 58, 36);
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;
  padding: 10px 5px;
  border: 2px solid white;
  transition: all 0.1s;
  order:2;
  cursor: pointer;
   &:hover {
     transform: scale(1.1);
   }
}

.label {
  order: 1;
  padding: 10px 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.online {
  @include infoblock;
  right:10px;
  background-color: rgba(0, 128, 0, 0.5);
}

.admin {
  @include infoblock;
  left:10px;
  background-color: rgba(31, 13, 131, 0.5);
}
