.button {
  background-color: #198C36;
  border-radius: 15px;
  border:3px solid transparent;
  color: #FBFAF7;
  font-family: "Noto Sans";
  font-size: 16px;
  font-weight: 400;
  padding: 10px 35px;
  transition: background-color .2s;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  
  &:hover {
    border: 3px solid #FEC200; 
    background-color: brown;
  }
}

.main {
  overflow:hidden;
  position: relative;

  &::before {
    font-family: 'FontAwesome';
    content:"\f06b";
    position: absolute;
    top: 25%;
    left: -20px;
    transition: all 200ms ease;
  }
  &::after {
    font-family: 'FontAwesome';
    content:"\f06b";
    position: absolute;
    top: 25%;
    right: -20px;
    transition: all 200ms ease;
  }
  &:hover::before {
    left: 8px;
  }
  &:hover::after {
    right: 8px;
  }
}

.google {
  width: 200px;
  height: 70px;
  background-image: url('../../icongoogle.png');
  background-size: 70px;
  background-position: center left;
  background-repeat: no-repeat;
  text-align: right;
  padding-right: 5px;
  word-break: break-word;
}
