@import '../../components/common.scss';
@import '../../components/FormCard/Forms.module.scss';
@import '../../components/Media.scss';

@mixin wishWrap {
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.content {
  @include content;
  justify-content: flex-start;
  position: relative;
  margin-bottom: 40px;
}

.info {
  margin-bottom: 40px;
  display: flex;

  h3 {
    margin-left: 10px;
  }
}

.wishTab {
  background-color: #F2EFE6;
  width: 100%;
  @include tablet {
    padding-top: 50px;
  }
  .wishes {
    @include wishWrap;
    width: 100%;
    & > div {
      max-width: 600px;
    }
    .customWish {
      opacity: 1;
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
        border: 2px solid rgba(59, 12, 45, 0.8);
        z-index: 100;
      }
    }
  }

  h3 {
    margin: 10px 0;
  }
  .addBtn {
    font-size: 20px;
    position: absolute;
    top: 20px;
    left:20px;
    color: rgb(5, 92, 5);
    h5 {
      margin: 0;
    }
  }
}

.formsTab {
  display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   flex-wrap: wrap;
   min-width: 300px;

   .unactive {
    @include formCard;
    cursor: pointer;
    border:1px solid green;
    &:hover {
      transform: scale(1.1);
      span {
        opacity:1;
      }
    }
   }
}

.wishContainer {
  @include wishWrap;
  .wishWrap {
    flex-basis: 350px;
    flex-grow: 2;
    min-width: 200px;
    max-width: 600px;
    border: 2px solid transparent;
    margin: 5px;
    background: khaki;
    transition: all 0.1s;
    border-radius: 10px;

    &:hover {
      transform: scale(1.1);
      cursor: pointer;
      border: 2px solid rgba(59, 12, 45, 0.8);
      z-index: 100;
    }
  }
}

.char {
  width: 190px;
  align-self: flex-start;
}

.personalTab {
  @include blockType;
  margin-top: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;

  input {
    border: 1px solid black;
  }

  form {
    display: flex;
    flex-direction: column;
  }
}

.imgCont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  img {
    margin-right: 30px;
  }
  @include phone {
    & img {
      width: 120px;
    }
    & h3 {
      font-size: 1.4em;
      margin: 0;
      width: 200px;
    }
  }
}

.editAvatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
}
