@import '../Media.scss';

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5%;
}

.loginPanel {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  a {
    margin: 0 20px;
  }
  @include phone {
    flex-direction: column;
    & a {
      margin-top: 10px;
    }
  }
}

.logo {
  display: block;
  img {
    width: 150px;
  }
}
