.flag {
  width: 55px;
  word-break: break-word;
  min-height: 48px;
  padding-top: 10px;
  position: absolute; 
  background: rgba(59, 12, 45, 0.8);
  color: white;
  font-size: 9px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  top:0;
  right: 5px;
}

.flag:after {
  content: ' ';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 10px solid white;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
}


.priceTag {
	display: inline-block;
  position: absolute;
  left:0;
  bottom: 10px;
  opacity: 0.8;
  z-index: 100;
  word-break: break-word;
  width: 70px;
	height: 34px;
	
	background-color: #aa2828;
	-webkit-border-radius: 3px 4px 4px 3px;
	-moz-border-radius: 3px 4px 4px 3px;
	border-radius: 3px 4px 4px 3px;
	
	border-left: 1px solid #979797;

	/* This makes room for the triangle */
	margin-left: 19px;
	
	color: white;
	font-weight: 300;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;

	padding: 0 10px 0 10px;
}

/* Makes the triangle */
.priceTag:before {
	content: "";
	position: absolute;
	display: block;
	left: -19px;
	width: 0;
	height: 0;
	border-top: 19px solid transparent;
	border-bottom: 15px solid transparent;
	border-right: 19px solid #aa2828;
}


.priceTag:after {
	content: "";
	background-color: white;
	border-radius: 50%;
	width: 4px;
	height: 4px;
	display: block;
	position: absolute;
	left: -9px;
	top: 17px;
}
