@import '../../components//common.scss';
.container {
  @include content;
  form {
    @include blockType;
    padding: 20px;
    display:flex;
    flex-direction: column;
    input {
      border: 1px solid black;
    }
  }
}
