@import url('http://fonts.cdnfonts.com/css/recoleta');
html {
  height: 100%;
  width: 100%;
  min-width: 300px;
  font-family: 'Recoleta', sans-serif;
}

body{
  color: #FBFAF7;
  background-color: rgb(22, 58, 36);
  width: 98%;
  margin: 0 auto;
}

h2 {
  font-family: 'Recoleta';
  font-size: 40px;
}

p {
  font-family: 'Noto Sans';
  font-size: 18px;
}

h3 {
  font-family: 'Recoleta';
  font-size: 28px;
}

h4 {
  font-family: 'Recoleta';
  font-size: 18px;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}
.fade-exit {
  display: none;
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  display: none;
}
