html {
  height: 100%;
}

body{
  color: #FBFAF7;
  background-color: rgb(22, 58, 36);
  width: 98%;
}

h2 {
  font-family: 'Recoleta';
  font-size: 40px;
}

p {
  font-family: 'Noto Sans';
  font-size: 18px;
}

h3 {
  font-family: 'Recoleta';
  font-size: 28px;
}

h4 {
  font-family: 'Recoleta';
  font-size: 18px;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
